<launch>
    <!-- Map Server -->
    <arg name="map_file" default="$(find localizer)/maps/map.yaml" />
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <param name="odom_frame_id" value="odom" />
        <param name="odom_model_type" value="diff-corrected" />
        <param name="base_frame_id" value="robot_footprint" />
        <param name="global_frame_id" value="map" />
        <param name="initial_pose_x" value="0.0" />
        <param name="initial_pose_y" value="0.0" />
        <param name="initial_pose_a" value="2.5" />
        <param name="initial_cov_xx" value="23.0" />
        <param name="initial_cov_yy" value="23.0" />
        <param name="initial_cov_aa" value="1.0" />
        <param name="update_min_d" value="0.2" />
        <param name="update_min_a" value="0.4" />
        <param name="min_particles" value="100" />
        <param name="max_particles" value="15000" />
        <param name="recovery_alpha_slow" value="0.002" />
        <param name="recovery_alpha_fast" value="0.0002" />
        <param name="laser_min_range" value="0.1" />
        <param name="laser_max_range" value="30.0" />
        <param name="laser_max_beams" value="100" />
        <param name="laser_z_hit" value="0.997" />
        <param name="laser_z_rand" value="0.003" />
        <param name="use_map_topic" value="true" />
        <param name="transform_tolerance" value="1.0" />
    </node>

    <!-- Move Base -->
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
        <rosparam file="$(find localizer)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find localizer)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find localizer)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find localizer)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find localizer)/config/base_local_planner_params.yaml" command="load" />
    </node>

</launch>